@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  margin: 0 !important;
  -webkit-appearance: none !important;
}

input[type=number] {
  -moz-appearance: textfield !important;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@theme {
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-26: 1.625rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
}

@layer utilities {
  .text-14 {
    @apply leading-5.75;
  }

  .text-16 {
    @apply leading-6;
  }

  .text-18 {
    @apply leading-6.25;
  }

  .text-20 {
    @apply leading-6.5;
  }

  .text-26 {
    @apply leading-7.25;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  /* Root */

  .root {
    @apply flex flex-col min-h-full font-inter;
  }

  .root-product-list {
    @apply flex size-full;
  }

    /* Header */

      /* Navigation */

      .navigation {
        @apply fixed top-0 flex items-center justify-between w-full px-16 py-8 gap-20 z-1000 bg-white max-xl:hidden;
      }

        /* Logo */

        .navigation-logo {
          @apply flex items-center h-10.5 gap-6;
        }

        .navigation-logo-image {
          @apply h-10.5 size-8;
        }

        .navigation-logo-title {
          @apply text-26 text-black font-poppins;
        }

        /* Links */

        .navigation-links {
          @apply flex flex-wrap flex-1 items-center h-10.5 gap-10;
        }

        .navigation-links-list {
          @apply flex gap-14;
        }

        .navigation-links-item {
          @apply text-gray-600 hover:text-black;
        }

        .navigation-links-item-active {
          @apply font-bold text-black;
        }

        /* Search */

        .navigation-search {
          @apply flex items-center mx-auto h-10.5 max-w-77.25 pl-4 overflow-hidden border rounded-3xl;
        }

        .navigation-search-icon {
          @apply hover:cursor-pointer;
        }

        .navigation-search-bar {
          @apply w-[90%] px-4 py-2 placeholder-gray-600 outline-none;
        }

        /* Icons */

        .navigation-icons {
          @apply flex flex-wrap items-center h-10.5 gap-4;
        }

        .navigation-icons-list {
          @apply flex gap-8;
        }

        .navigation-icons-item {
          @apply cursor-pointer hover:fill-black;
        }

      /* Mobile */

      .mobile {
        @apply fixed top-0 flex items-center justify-between w-full px-16 py-8 gap-20 z-10 bg-white xl:hidden;
      }

      .mobile-backdrop {
        @apply fixed top-0 flex items-center justify-between w-full px-16 py-8 gap-20 z-[-1] bg-white xl:hidden;
      }

        /* Logo */

        .mobile-logo {
          @apply flex gap-6;
        }

        .mobile-logo-image {
          @apply h-10.5 size-10;
        }

        .mobile-logo-title {
          @apply text-[2.03125rem] text-black font-poppins max-md:hidden;
        }

        /* Menu */

        .mobile-menu {
          @apply flex flex-wrap items-center h-10.5 xl:hidden;
        }

        .mobile-menu-icons {
          @apply flex flex-wrap items-center h-10.5 gap-4;
        }

        .mobile-menu-icons-list {
          @apply flex gap-8;
        }

        .mobile-menu-icons-item {
          @apply cursor-pointer hover:fill-black;
        }

        .mobile-menu-exit-item {
          @apply cursor-pointer;
        }

        /* Sheet */

        .mobile-menu-sheet {
          @apply min-w-full px-16 py-8 bg-white border-none;
        }

        .mobile-menu-sheet-container {
          @apply flex items-center justify-between;
        }

        .mobile-menu-sheet-content {
          @apply flex flex-col justify-between h-[calc(100vh-4.5rem)] py-16 overflow-y-auto;
        }

        .mobile-menu-sheet-navigation {
          @apply flex flex-col h-full py-16 gap-6 text-white;
        }

        .mobile-menu-sheet-link {
          @apply flex items-center w-full p-4 gap-3 rounded-lg;
        }

        .mobile-menu-sheet-link-label {
          @apply font-semibold text-16 text-black;
        }

    /* Footer */
      
      .footer {
        @apply relative top-26.5 flex flex-col w-full z-10 bg-white;
      }

      .footer-content {
        @apply flex justify-between px-16 py-12 max-md:flex-col;
      }

        /* Branding */

        .footer-content-branding {
          @apply flex flex-col justify-between gap-8;
        }

          /* Logo */

          .footer-content-branding-logo {
            @apply flex flex-col gap-2;
          }

          .footer-content-branding-logo-container {
            @apply flex flex-row items-center gap-6;
          }

          .footer-content-branding-logo-image {
            @apply h-10.5 size-8;
          }

          .footer-content-branding-logo-title {
            @apply font-poppins text-26 text-black;
          }

          .footer-content-branding-logo-slogan {
            @apply text-gray-600;
          }

          /* Socials */

          .footer-content-branding-socials {
            @apply flex flex-row items-center gap-4;
          }

          .footer-content-branding-socials-logo {
            @apply flex items-center h-10.5 gap-6 hover:cursor-not-allowed;
          }
        
        /* Links */

        .footer-content-links {
          @apply flex justify-evenly gap-20 max-md:flex-col max-md:pt-12 max-md:gap-10;
        }

        .footer-content-links-section {
          @apply flex flex-col gap-4;
        }

        .footer-content-links-section-title {
          @apply font-semibold text-18;
        }

        .footer-content-links-section-items {
          @apply flex flex-col flex-wrap max-w-30 gap-1 text-14 text-gray-600;
        }

        .footer-content-links-section-item {
          @apply hover:text-black hover:cursor-pointer;
        }

        /* Copyright */

        .copyright {
          @apply w-full p-1 bg-black text-white;
        }

        .copyright-text {
          @apply text-center text-14;
        }
    }

/* Home */

  /* Hero */
  
  .hero {
    @apply relative top-26.5 text-center z-1;
  }

    /* Image */
    
    .hero-image-desktop {
      @apply flex h-200 w-full items-center bg-center bg-cover max-md:hidden;
    }

    .hero-image-mobile {
      @apply flex h-200 w-full items-center bg-center bg-cover md:hidden;
    }

    /* CTA */

    .hero-cta {
      @apply absolute top-0 right-0 bottom-0 left-0;
    }

    .hero-cta-labels {
      @apply flex flex-col items-center py-12 gap-3 z-10 text-center;
    }

    .hero-cta-subtitle {
      @apply text-2xl text-white;
    }

    .hero-cta-title {
      @apply font-bold text-6xl text-center text-white;
    }

    .hero-cta-button {
      @apply h-12 w-48 mt-5 font-semibold text-white border border-white rounded-3xl cursor-pointer hover:bg-white hover:text-black;
    }
  
  /* Categories */

  .categories {
    @apply relative top-26.5 flex flex-col items-center h-fit w-full p-12 gap-8 z-1;
  }

  .categories-title {
    @apply font-bold text-4xl;
  }

  .categories-list {
    @apply flex flex-wrap w-full justify-center;
  }

    /* Card */

    .category-card {
      @apply flex flex-col items-center mx-6 p-4 gap-4 cursor-pointer hover:[&>div]:scale-105;
    }

    .category-card-image {
      @apply p-8 bg-gray-200 bg-center bg-cover rounded-[100px];
    }

    .category-card-title {
      @apply text-20;
    }

  /* Products */

  .products {
    @apply relative top-26.5 flex flex-col items-center h-fit w-full px-5 py-12 gap-8 z-1 bg-gray-200 max-md:px-16;
  }

  .products-title {
    @apply pb-4 font-bold text-4xl;
  }

  .products-list {
    @apply flex w-full justify-center;
  }

    /* Carousel */

    .products-list-carousel {
      @apply w-full max-w-[90%];
    }

    .products-list-carousel-button {
      @apply border-none cursor-pointer;
    }

    /* Card */

    .product-card {
      @apply flex flex-col mx-6 p-8 gap-4 bg-center bg-white bg-cover rounded-2xl;
    }

    .product-card-header {
      @apply flex justify-between;
    }

    .product-card-header-sale {
      @apply px-3 py-1 bg-gray-200 font-bold text-14 text-green-600 rounded-xl;
    }

    .product-card-header-no-sale {
      @apply px-3 py-1 bg-gray-200 font-bold text-14 text-green-600 rounded-xl invisible;
    }

    .product-card-header-favorite {
      @apply justify-end cursor-pointer hover:fill-black;
    }

    .product-card-main-image {
      @apply h-auto w-auto items-center cursor-pointer;
    }
    
    .product-card-main-title-brand {
      @apply pb-1 font-bold text-14 text-gray-600;
    }

    .product-card-main-title-model {
      @apply font-bold text-18;
    }

    .product-card-footer {
      @apply flex justify-between;
    }

    .product-card-footer-pricing {
      @apply flex flex-row gap-2;
    }

    .product-card-footer-pricing-normal {
      @apply font-bold text-16 text-gray-800;
    }

    .product-card-footer-pricing-original {
      @apply text-16 text-gray-600 line-through;
    }

    .product-card-footer-cart {
      @apply size-5 cursor-pointer hover:fill-black;
    }

/* List */

  /* Filter */

  .filter {
    @apply sticky top-26.5 left-0 flex flex-col h-[calc(100%-106px)] max-h-screen w-100 px-16 py-8 gap-8 z-10 border-r border-gray-200 2xl:w-88.75 max-md:hidden;
  }

  .filter-content {
    @apply flex flex-col gap-4;
  }

  .filter-content-title {
    @apply font-semibold text-16 text-gray-600;
  }

    /* Header */

    .filter-header {
      @apply flex justify-between;
    }

    .filter-header-title {
      @apply font-semibold text-20;
    }

    /* Categories */

    .filter-categories {
      @apply flex items-center justify-between;
    }

    .filter-categories-checkbox {
      @apply border rounded-lg h-4 w-4 accent-black hover:cursor-pointer;
    }

    .filter-categories-label {
      @apply text-14;
    }

    /* Price */

    .filter-price-field {
      @apply flex items-center justify-between text-14;
    }

    .filter-price-slider {
      @apply w-full m-auto bg-gray-400;
    }

    .filter-price-slider-range {
      @apply flex justify-center w-[80%] max-w-110 mt-2 mx-auto gap-2;
    }

    .filter-price-slider-range-input {
      @apply flex items-center w-[50%] pl-4 overflow-hidden border rounded-3xl;
    }

    .filter-price-slider-range-input-currency {
      @apply font-semibold text-gray-600 pr-2;
    }

    .filter-price-slider-range-input-value {
      @apply px-4 py-0.5 placeholder-gray-600 overflow-hidden outline-none;
    }

    /* Color */

    .filter-color {
      @apply grid grid-cols-5 m-auto px-2 gap-4;
    }

    .filter-color-item {
      @apply max-h-22;
    }

    .filter-color-item-active {
      @apply h-6 w-6 border-3 border-gray-400 rounded-md cursor-pointer hover:scale-105;
    }

    .filter-color-item-inactive {
      @apply h-6 w-6 border rounded-md cursor-pointer hover:scale-105;
    }

    /* Clear */

    .filter-clear {
      @apply mx-auto h-8 w-32 font-semibold border rounded-2xl cursor-pointer hover:bg-black hover:text-white;
    }